
.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
.table th {
    font-weight: bold;
    padding: 5px;
    vertical-align: middle;
}
.table th:first-child {
    width: 100px;
}
.table th:last-child {
    width: 200px;
}
.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}
.table td:first-child,
.table td:last-child {
    text-align: center;
}
tbody tr:hover {
    background: #efefef;
    border: 1px solid #dddddd;
}

input{
    margin-bottom: 10px;
}

.btn{
    cursor: pointer;
    border-radius: 2px;
    border: 0px;
    padding: 5px 10px;
    font-size: 13px;
}
.btn-add{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.btn-add:hover{
    color: #fff;
    background-color: #0a5ad0;
    border-color: #0a5ad0;
}
.btn-edit, .btn-close{
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
}
.btn-edit:hover, .btn-close:hover{
    color: #fff;
    background-color: #53575c;
    border-color: #53575c;
}
.btn-delete{
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}
.btn-delete:hover{
    color: #fff;
    background-color: #ac2331;
    border-color: #ac2331;
}

.notification{
    z-index: 100;
    position: fixed;
    bottom: 100px;
    margin: 0 auto;
    left: 40%;
    right: 40%;
    padding: 10px;
    border-radius: 10px;
    display: none;
    text-align: center;
}

.notification.success{
    background: #565e6440;
    color: #0a0a0a;
}

.notification.error{
    background: #a80c1cba;
    color: #f7fafc;
}

.modal{
    z-index: 100;
    position: fixed;
    top: 100px;
    margin: 0 auto;
    left: 40%;
    right: 40%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background: rgb(233 233 233);
    border: 1px solid #c9c9c9;
    display: none;
}

.paginate{
    display: inline-block;
}
.paginate button{
    margin-right: 5px;
}
.btn-paginate{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.btn-paginate:hover{
    color: #fff;
    background-color: #0a5ad0;
    border-color: #0a5ad0;
}
.btn-paginate-check{
    color: #000;
    background-color: rgba(193, 193, 193, 0.73);
    border-color: rgba(193, 193, 193, 0.73);
}
.btn-paginate-check:hover{
    color: #000;
    background-color: rgba(213, 213, 213, 0.73);
    border-color: rgba(213, 213, 213, 0.73);
}


.added{
    display: inline-block;
    float: right;
}

.gone{
    display: none;
}
